.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.container {
  margin: 0 auto;
  max-width: 944px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu {
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 758px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px; }
  .menu-item {
    list-style-type: none; }
  .menu-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 24px;
    color: black; }
    .menu-link:hover {
      color: #00acdc; }

.is-active {
  color: #00acdc;
  position: relative; }
  .is-active::after {
    content: "";
    position: absolute;
    width: 100%;
    border: solid #00acdc 2px;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo__img {
    height: 40px;
    width: 40px; }

.goods {
  margin-top: 50px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 202px;
  height: 403px;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px; }
  .goods__picture-link {
    margin: 13px auto 36px;
    width: 97%; }
  .goods__picture {
    width: 100%; }
  .goods__title {
    margin-top: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-decoration: none; }
  .goods__code {
    margin-top: 6px;
    font-size: 11px; }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px; }
  .review__comment {
    padding-bottom: 0;
    font-size: 11px; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px; }
  .price__label {
    font-size: 11px; }
  .price__price {
    font-weight: bold;
    font-size: 16px; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.star {
  width: 19px;
  height: 15px;
  background: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center; }

.stars--1 .star:first-child,
.stars--2 .star:nth-child(-n+2),
.stars--3 .star:nth-child(-n+3),
.stars--4 .star:nth-child(-n+4),
.stars--5 .star:nth-child(-n+5) {
  background-image: url(../images/star-active.svg); }

.btn-buy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #00acdc;
  text-decoration: none;
  line-height: 40px; }
  .btn-buy .btn-buy__label {
    width: 100%;
    text-align: center;
    display: inline-block; }
    .btn-buy .btn-buy__label:hover {
      color: white;
      background-color: #00acdc; }

html {
  font-family: Roboto, sans-serif; }

body {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
